.container
    width: 1200px
    margin: auto
.header
    font-family: serif
    margin: auto
    width: 100%
    display: flex
    height: 69px
    justify-content: space-between
    align-items: center
    font-family: San Francisco Text Bold
    font-size: 12px
    &-menu
        &__text
            @media (max-width:768px)
                margin-right: 60px

            
        &:hover
            color: $main-red
            transition: 0.5s
            
    // @media ( max-width:768px)
    //     height: 50px
    //     display: flex
    //     align-items: center
    &-burger
        cursor: pointer
        margin-bottom: 2px
        span
            position: absolute
            display: block
            height: 2px
            width: 20px
            background-color: $main-red
            &:after, &:before
                position: absolute
                content: ''
                display: block
                height: 2px
                width: 20px
                background-color: $main-red
                width: 100%
                transition: .3s
            &:after
                top: 6px
            &:before
                bottom: 6px  
    &-logo
        display: flex
        align-items: center
        justify-content: center
        width: 99px
        height: 69px
        background: red
    &-catalog
        display: flex
        justify-content: space-between
        align-items: center
        width: 70%
        margin-right: 80px
        @media ( max-width:768px)
            width: 50% 
            margin-right: 0px
            font-size: 10px
        @media ( max-width:1024px)
            // font-size: 11px

            
        &__item
            transition:  0.3s
            margin-top: 2px
            border-bottom: 2px solid transparent
            transparent: all 0.3s ease
            &:hover
                border-bottom: 2px solid $main-red 
            @media (max-width:992px)
                display: none
 
    &-info
        display: flex
        align-items: center
        justify-content: space-around
        height: 40px
        width: 30%
        @media ( max-width:768px)
            // width: 50%
        &__tel
            text-decoration: none
            @media ( max-width:768px)
                display: none   
        &__lang
            display: flex
            justify-content: space-around
            @media ( max-width:768px)
                display: none
            &-ru
                margin-right: 10px
// @media  ( max-width: 1200px )
//     .header
//         width: 90%
//         &-info
//             width: 50%
//         &-catalog
//             &__item
//                 display: none

// @media  ( max-width: 1000px )
//     .header
//         width: 90%
//         &-catalog
//             &__item 
//                 display: none
//         &-info
//             width: 50%
// @media  ( max-width: 768px )
//     .header
//         width: 100%

.header-menu:hover
    span.header-burger-active
        background: none
        &:after
            top: 0px
            transform: rotate(-45deg)
        &:before
            bottom: 0px
            transform: rotate(45deg)

.header .container
    @media ( max-width:768px)
        height: 50px


