.navbar
    height: 50px
    width: 100%
    background-color: black
    color: $main-white
    font-family: San Francisco Text Bold
    display: flex
    align-items: center
    justify-content: space-between
    &-img
        background: url('/img/navbarbgi.png')  
        height: 600px
        background-position: 0 0
        background-repeat: no-repeat
        background-size: auto
        background-size: cover
        @media (max-width: 425px)
            background-size: cover
            height: 208px
    &-coop
        display: flex
        align-items: center
        width: 50%
        @media  ( max-width:768px )
            display: none
            
        &__logo
            height: 35px
            width: 35px
            background-color: $main-red
            border-radius: 50%
            display: flex
            justify-content: center
            align-items: center
            margin-right: 26px
        &__text
    &-info
        font-family: 'San Francisco Text Regular'
        display: flex
        justify-content: space-between
        font-size: 13px
        width: 100%
        @media  ( max-width:768px )
            font-size: 12px
            justify-content: space-between
        a
            text-decoration: none
            color: $main-white !important
        &__item
            transition:  0.3s
            margin-top: 2px
            border-bottom: 2px solid transparent
            @media  ( max-width:768px )
                // margin-right: 47px


            &:hover
                border-bottom: 2px solid $main-red 
                transparent:


@media (max-width: 425px)
    .navbar
        &-info
            display: none
        &-coop
            display: flex
            &__logo
                width: 40%
    